<!doctype html>
<html>
  <head>
    <title>DASHBOARD</title>
  </head>
  <body>
    <button> CREATE</button>
    

    <section id="form-creation-module">
        <h1>Resume Creation</h1>

        <form method="POST" action="/dashboard"  >

        <fieldset>

          <legend>Your Information:</legend>
          
          <div class="row">
            <div class="col">
                <input name="Name" type="text" value="Name" />
                <input name="Description" type="text" value="Skills" />
            </div>
          </div>

        </fieldset>      

        <br />

        <input type="submit" value="Submit" class="is-full-width" />
      </form>

      </section>

      <section>
        <li>
          
        </li>
      </section>

  </body>
</html>
    
