<!doctype html>
<html>
  <head>
    <title>DASHBOARD</title>
  </head>
  <body>
    <button> CREATE</button>
    <section id="custom-helper">
      <p>Also, check {{ wow "this" }} (custom helper) out!</p>
    </section>
  </body>
</html>
    
