<!doctype html>
<html>
  <head>
    <title>DASHBOARD</title>
  </head>
  <body>
    <button> CREATE</button>
    

    <section id="form-creation-module">
        <h1>Resume Creation</h1>

        <form method="POST" action="/dashboard"  >

        <fieldset>

          <legend>Please enter the following information:</legend>
          
          <div class="row">
            <div class="col">
                <input name="name" type="text" value="Name" />
                <input name="description" type="text" value="Description" />
                <input name="phone_number" type="text" value="Phone Number" />
                <input name="skills" type="text" value="Skills" />
                <input name="company" type="text" value="Company" />                
            </div>
          </div>

        </fieldset>      

        <br />

        <input type="submit" value="Submit" class="is-full-width" />
      </form>

      </section>

      <section>
        <h2>Resumes</h2>
        <ul>
          <fieldset>
            {{> resume}}
          </fieldset>
        </ul>
      </section>

  </body>
</html>
    
