<!doctype html>
<html>
  <head>
    <title>DASHBOARD</title>
  </head>
  <body>
    <button> CREATE</button>
    <section id="custom-helper">
      <p>Also, check {{ wow "sdfsdf" }} (custom helper) out!</p>
    </section>

  <div class="panel-body" id="chat-bill">	
  	<form id="messageForm">
	   <input id="nameInput" type="hidden" class="input-medium" value="Macbook" />
	   <input id="messageInput" type="text" class="form-control" placeholder="Digite uma mensagem..." />
	   <input type="submit" value="Send" />
  	</form>
  </div>

  </body>
</html>
    
