<fieldset>
          <div class="form-group-container">
            <div class="category">
              <h3>Education</h3>
            </div>
            <div class="content" id="education">
              <div class="form-group">
                <div class="form-item">
                  <label for="school">School</label>
                  <input id="school" name="school" type="text" placeholder="University of California" />
                </div>
                 <div class="form-item">
                  <label for="gpa">City</label>
                  <input id="gpa" name="gpa" type="text" placeholder="3.5" />  
                </div>   
                 <div class="form-item">
                  <label for="field">Field of Study</label>
                  <input id="field" name="field" type="text" placeholder="Bachelor of Technology" />  
                </div>  
                <div class="form-item">
                  <label for="graduation-date">Graduation Date</label>
                  <input id="graduation-date" name="graduation-date" type="date" />  
                </div>
              </div>
            </div>
          </div>
        </fieldset>