<fieldset>
          <div class="form-group-container">
            <div class="category">
              <h3>Education: Undergradute</h3>
            </div>
            <div class="content" id="education">
              <div class="form-group">
                <div class="form-item">
                  <label for="uschool">School*</label>
                  <input id="uschool" name="uschool" type="text" placeholder="Example: University of California" />
                </div>
                 <div class="form-item">
                  <label for="ugpa">GPA*(out of 4)</label>
                  <input id="ugpa" name="ugpa" type="number" step="0.01" placeholder="Example: 3.5" />  
                </div>   
                 <div class="form-item">
                  <label for="ufield_of_study">Field of Study*</label>
                  <input id="ufield_of_study" name="ufield_of_study" type="text" placeholder="Exampel: Bachelor of Technology" />  
                </div>  
                <div class="form-item">
                  <label for="ugraduation_date">Graduation Date*</label>
                  <input id="ugraduation_date" name="ugraduation_date" type="date" />  
                </div>
              </div>
            </div>
          </div>
        </fieldset>