<fieldset>
          <div class="form-group-container">
            <div class="category">
              <h3>Experience</h3>
            </div>
            <div class="content" id="experience">
              <div class="form-group">
                <div class="form-item">
                  <label for="jobtitle">Job Title</label>
                  <input id="jobtitle" name="jobtitle" type="text" placeholder="Software Engineer" />
                </div>
                <div class="form-item">
                  <label for="employer">Employer</label>
                  <input id="employer" name="employer" type="text" placeholder="Intel" />
                </div>
                <div class="form-item">
                  <label for="start-date">Start Date</label>
                  <input id="start-date" name="start-date" type="date" />  
                </div>   
                <div class="form-item">
                  <label for="end-date">End Date</label>
                  <input id="end-date" name="end-date" type="date" />  
                </div>
                <div class="form-item">
                  <label for="job-description">Description</label>
                  <input id="job-description" name="job-description" type="text" placeholder="Tell us about your responsibilities" />
                </div>
              </div>
          </div>
        </fieldset>