<fieldset>
          <div class="form-group-container">
            <div class="category">
              <h3>Experience</h3>
            </div>
            <div class="content" id="experience">
              <div class="form-group">
                <div class="form-item">
                  <label for="job_title">Job Title</label>
                  <input id="job_title" name="job_title" type="text" placeholder="Example: Software Engineer" />
                </div>
                <div class="form-item">
                  <label for="employer">Employer</label>
                  <input id="employer" name="employer" type="text" placeholder="Example: Intel" />
                </div>
                <div class="form-item">
                  <label for="start_date">Start Date</label>
                  <input id="start_date" name="start_date" type="date" />  
                </div>   
                <div class="form-item">
                  <label for="end_date">End Date</label>
                  <input id="end_date" name="end_date" type="date" />  
                </div>
                <div class="form_item">
                  <label for="description">Description</label>
                  <input id="description" name="description" type="text" placeholder="Tell us about your responsibilities" />
                </div>
              </div>
          </div>
        </fieldset>