<!doctype html>
<html lang="en">
    {{> head}}
    <body>
        <main>
            <section id="navigation">
                {{> navbar}} 
            </section>
            <section id="banner" style="background-image: url(static/background1.jpg);">
                <div id="banner-content">
                    <div id="banner-content-text">
                        <h1>Build a Professional Resume</h1>
                        <p>Create your resume with our resume builder</p>
                        <a href="/dashboard" class="btn">Get Started</a>
                    </div>
                </div>
            </section>
        </main>
        
    </body>
    <footer>
        <section>
            <div id="footnote">
                © 2021 Designed And Built by&nbsp;<span class="highlight"> Rajat Kulkarni & Harmandeep Singh</span>
            </div>
        </section>
    </footer>
</html>