<!doctype html>
<html>
  <head>
    <title>DASHBOARD</title>
  </head>
  <body>
    {{> header}}
    Hello {{ name}}. You have logged in at {{time}}
    "MAIN PAGE - Add more description"
  </body>
</html>


    
