<nav id = "nav">
                    <a id="logo" href="/">
                        <img src="static/logo-horizontal.png" width="300">
                    </a>
                    <ul class="nav-links">
                        <div class="nav-wrap">
                            <li class = "item"><a href="/dashboard">Dashboard</a></li>
                            <li class = "item"><a href="/about">About</a></li>
                        </div>
                  </ul>
                </nav>  