<fieldset>
          <div class="form-group-container">
            <div class="category">
              <h3>Personal</h3>
            </div>
            <div class="content" id="personal">
              <div class="form-group">
                <div class="form-item">
                  <label for="first_name">First Name*</label>
                  <input id="first_name" name="first_name" type="text" placeholder="First Name" />
                </div>
                <div class="form-item">
                  <label for="last_name">Last Name*</label>
                  <input id="last_name" name="last_name" type="text" placeholder="Last Name" />
                </div>
                <div class="form-item">
                  <label for="phone_number">Phone Number*</label>
                  <input id="phone_number" name="phone_number" type="number" placeholder="Phone Number" />
                </div>
                <div class="form-item">
                  <label for="email">Email*</label>
                  <input id="email" name="email" type="email" placeholder="something@example.com" />
                </div>
                <div class="form-item">
                  <label for="linkedin">Linked In</label>
                  <input id="linkedin" name="linkedin" type="text" placeholder="Linked In" />
                </div>
                <div class="form-item">
                  <label for="city">City*</label>
                  <input id="city" name="city" type="text" placeholder="Example: San Francisco" />  
                </div> 
                <div class="form-item">
                  <label for="state">State*</label>
                  <input id="state" name="state" type="text" placeholder="Example: CA" />  
                </div>   
                <div class="form-item">
                  <label for="zip_code">Zip Code*(atleast 5 digits)</label>
                  <input id="zip_code" name="zip_code" type="number" placeholder="Example: 97124" />  
                </div>           
              </div>
            </div>
          </div>
        </fieldset>