<fieldset>
          <div class="form-group-container">
            <div class="category">
              <h3>Personal</h3>
            </div>
            <div class="content" id="personal">
              <div class="form-group">
                <div class="form-item">
                  <label for="name">First Name</label>
                  <input id="name" name="name" type="text" placeholder="First Name" />
                </div>
                <div class="form-item">
                  <label for="lastname">Last Name</label>
                  <input id="lastname" name="lastname" type="text" placeholder="Last Name" />
                </div>
                <div class="form-item">
                  <label for="phone-number">Phone Number</label>
                  <input id="phone-number" name="phone_number" type="text" placeholder="Phone Number" />
                </div>
                <div class="form-item">
                  <label for="email">Email</label>
                  <input id="email" name="email" type="text" placeholder="something@example.com" />
                </div>
                <div class="form-item">
                  <label for="linkedin">Linked In</label>
                  <input id="linkedin" name="linkedin" type="text" placeholder="Linked In" />
                </div>
                <div class="form-item">
                  <label for="city">City</label>
                  <input id="city" name="city" type="text" placeholder="San Francisco" />  
                </div> 
                <div class="form-item">
                  <label for="state">State</label>
                  <input id="state" name="state" type="text" placeholder="CA" />  
                </div>   
                <div class="form-item">
                  <label for="zipcode">Zip Code</label>
                  <input id="zipcode" name="zipcode" type="text" placeholder="97124" />  
                </div>           
              </div>
            </div>
          </div>
        </fieldset>