<fieldset>
          <div class="form-group-container">
            <div class="category">
              <h3>Projects</h3>
            </div>
            <div class="content" id="projects">
              <div class="form-group">
                <div class="form-item">
                  <label for="project-title-1">Project-1</label>
                  <input class="mw-60" id="project_title_1" name="project_title_1" type="text" placeholder="Example: 8 Queens Visualizer" />
                </div>
                <div class="form-item">
                  <label for="project_tech_1">Technology</label>
                  <input class="mw-60" id="project_tech_1" name="project_tech_1" type="text" placeholder="Example: 8 Queens Visualizer" />
                </div>
                 <div class="form-item mw-82">
                  <label for="project_desc_1">Description</label>
                    <textarea id="project_desc_1" name="project_desc_1" rows="4" cols="50" placeholder="Tell us about the project details"></textarea>
                </div>
              </div>

              <div class="form-group">
                <div class="form-item">
                  <label for="project-title-2">Project-2</label>
                  <input class="mw-60" id="project_title_2" name="project_title_2" type="text" placeholder="Example: Resume Builder Website" />
                </div>
                <div class="form-item">
                  <label for="project_tech-2">Technology</label>
                  <input class="mw-60" id="project_tech_2" name="project_tech_2" type="text" placeholder="Example: 8 Queens Visualizer" />
                </div>
                 <div class="form-item mw-82">
                  <label for="project_desc_2">Description</label>
                    <textarea id="project_desc_2" name="project_desc_2" rows="4" cols="50" placeholder="Tell us about the project details"></textarea>
                </div>
              </div>

              <div class="form-group">
                <div class="form-item">
                  <label for="project_title_3">Project-3</label>
                  <input class="mw-60" id="project_title_3" name="project_title_3" type="text" placeholder="Example: Resume Builder Website" />
                </div>
                <div class="form-item">
                  <label for="project_tech_3">Technology</label>
                  <input class="mw-60" id="project_tech_3" name="project_tech_3" type="text" placeholder="Example: 8 Queens Visualizer" />
                </div>
                 <div class="form-item mw-82">
                  <label for="project_desc_3">Description</label>
                    <textarea id="project_desc_3" name="project_desc_3" rows="4" cols="50" placeholder="Tell us about the project details"></textarea>
                </div>
              </div>
            </div>
          </div>
        </fieldset>