<fieldset>
          <div class="form-group-container">
            <div class="category">
              <h3>Skills</h3>
            </div>
            <div class="content" id="skills">
              <div class="form-group">
                <div class="form-item">
                  <label for="languages">Languages</label>
                  <input id="languages" name="languages" type="text" placeholder="C#, Python" />
                </div>
                <div class="form-item">
                  <label for="softwares">Softwares</label>
                  <input id="softwares" name="softwares" type="text" placeholder="Unity" />
                </div>
                <div class="form-item">
                  <label for="other_tools">Other Tools</label>
                  <input id="other_tools" name="other_tools" type="text" placeholder="MS Excel" />
                </div>
              </div>
          </div>
        </fieldset>